body{
    background-color: #F1F1F1;;
}
header{
    height: 80px;
    padding-top: 21px;
      .container{
         @include myco;
        nav{
            width: 500px;
            display: flex;
            justify-content: space-between;
            a{
                color: #000;
                font-family: 'Roboto', sans-serif;;
                font-size: 11px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }           
    }
    
}

.s1{
    margin-bottom: 57px;
    .container{
        @include myco;

        h2{
            @include myh;
        }
        div{
            display: flex;
            justify-content: space-between;
            .card {
                width: 362px;
                height: 357px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #FFF;
                div{
                    width: 362px;
                    height: 186px;
                    img{
                        border-radius: 5px 5px 0px 0px;
                    }
                    h3{
                        color: #070707;
                        font-family: Roboto, sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
    
                    div{
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        margin-right: 87px;
                        margin-bottom: 41px;
                        p{
                            color: #8A8787;
                            font-family: Roboto, sans-serif;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 30px;    
                         }
                         div{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            margin-top: 11px;
                            h6{
                                color: #8A8787;
                                font-family: Roboto, sans-serif;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                margin-left: 11px;
                               
                            }
                            i{
                                color: grey;
    
                            }
                         }
                     
                    }
            }
            
        }
       
    } 
    
    
}

.s2{
    margin-bottom: 36px;
    .container{
        @include myco;
        h2{
            @include myh;
        }
        div{
            display: flex;
            flex-direction: row;
            gap: 20px;
            // border: 2px dotted green;
            .img1{
                display: flex;
                flex-direction: column;
                 gap: 42px;
                    div{
                        width: 758px;
                        height: 430px;
                        display: flex;
                        // justify-content: center;
                        // align-items: center;
                        // border: 2px dotted red;
                        h3{
                            color: #FFF;
                            color: black;
                            font-family: Roboto, sans-serif;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height:normal;                            
                        }
                }
            }
            .img2{
                display: flex;
                flex-direction: column;
                // display: none;
                img{
                    margin-bottom: 98px;
                }
            }
        }
    }
    }
        




footer{
        background-color: #243043;
        padding: 59px 137px;
       .container{
        @include myco;
        div{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            max-width: 370px;
            // border: 1px solid red;
            li{
                color: #818687;
                font-family: Roboto, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                margin-bottom: 14px;
            }
        }
        h3{
            color: #FFF;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        // border: 1px solid red;

        }
       }
    }