/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
}

header {
  height: 80px;
  padding-top: 21px;
}
header .container {
  max-width: 1166px;
  margin: 0 auto;
}
header .container nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
header .container nav a {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.s1 {
  margin-bottom: 57px;
}
.s1 .container {
  max-width: 1166px;
  margin: 0 auto;
}
.s1 .container h2 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 28px;
}
.s1 .container div {
  display: flex;
  justify-content: space-between;
}
.s1 .container div .card {
  width: 362px;
  height: 357px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFF;
}
.s1 .container div .card div {
  width: 362px;
  height: 186px;
}
.s1 .container div .card div img {
  border-radius: 5px 5px 0px 0px;
}
.s1 .container div .card p {
  color: #8A8787;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.s1 .container div .card div {
  display: flex;
  align-items: flex-end;
  margin-right: 87px;
  margin-bottom: 41px;
}
.s1 .container div .card div h6 {
  color: #8A8787;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 11px;
}

.s2 {
  margin-bottom: 36px;
}
.s2 .container {
  max-width: 1166px;
  margin: 0 auto;
}
.s2 .container h2 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 28px;
}
.s2 .container div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.s2 .container div .img1 {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.s2 .container div .img1 div {
  width: 758px;
  height: 430px;
  display: flex;
}
.s2 .container div .img1 div h3 {
  color: #FFF;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s2 .container div .img2 {
  display: flex;
  flex-direction: column;
}
.s2 .container div .img2 img {
  margin-bottom: 98px;
}

footer {
  background-color: #243043;
  padding: 59px 137px;
}
footer .container {
  max-width: 1166px;
  margin: 0 auto;
}
footer .container div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 370px;
}
footer .container div li {
  color: #818687;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 14px;
}
footer .container h3 {
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=global.css.map */